body {
    background-color: #0b0d0f;
}

.container {
    padding: 0 0 24px;
    max-width: 780px;
    margin: auto;
    background-color: #0b0d0f;
    color: white;
    text-align: center;
}

.header {
    background: #0b0d0f url('../img/bg.png') bottom center no-repeat;
    padding: 24px 24px 160px;
    text-align: center;
    color: #fff;
    background-size: cover;
}   

.nav ul {
    margin: 0;
    background-color: #0b0d0f;
    padding: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 768px) {    
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav ul li a:hover,
.nav ul li a.active {
    text-decoration: underline;
}

.avatar {
    display: block;
    width: 100px;
    border-radius: 50%;
    margin: auto auto 24px;
}   

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
    

    @media (min-width: 768px) {
        font-size: 36px;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.subTitle {
    font-size: 20px;
    margin-bottom: 16px;
    color: white;

    @media (min-width: 768px) {
        font-size: 30px;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

section {
    border-top: 1px solid #282829;
    padding: 24px;
}

section p {
    margin-bottom: 12px;
    font-size: 20px;
}

section p a {
    color: white;
}

.listPortfolio {
    list-style: none;
    padding: 16px 0;
}

.listPortfolio li {
    padding: 12px 0;
}

.listPortfolio li a {
    font-size: 20px;
    color: white;
}